@import '~antd/dist/antd.css';

.App {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  width: 100%;
  background-color: #001529;
  height: 80px;
  line-height: 80px;
  /* padding: 20px; */
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main_content {
  display: flex;
  width: 100%;
  min-height: calc(100% - 80px);
}

.main_page {
  flex: 1;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
